/vendor/

/node_modules/

/temp/*
!/temp/.gitignore
/log/*
!/log/.gitignore

/var/*.db
/var/*.db-*
/var/*.sqlite

/www/css/app.css

/config/config.local.neon
/config/local/
.env

docker-compose.override.yml

/.idea/
.DS_Store

/.phpunit.cache/
tests/**/output/*.actual

/tests/e2e/node_modules/
/tests/e2e/playwright-report/
/tests/e2e/test-results/
